.qibla-finder {
    text-align: center;
    margin-top: 50px;
  }
  
  .compass-container {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .compass {
    width: 100%;
    height: 100%;
    background: url("https://as1.ftcdn.net/v2/jpg/00/76/15/10/1000_F_76151024_I1mNaznj6ocIRyF8jFVLPxwC0H0ii82r.jpg") no-repeat center/cover;
    border-radius: 50%;
    position: relative;
    transform-origin: center;
  }
  
  .needle {
    width: 10px;
    height: 10px;
    background: red;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    transform-origin: bottom center;
    border-radius: 5px;
  }
  
  .success-message {
    color: green;
    font-weight: bold;
    margin-top: 10px;
  }
  